html{
	font-size: 15px;}
   .oswald-funfont {
	  font-family: "Oswald", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 400;
	  font-style: normal;
}

h1 {
  font-size: 40px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
}